<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('联邦任务日志列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>任务id：</label>
                                <input type="text" name="tpId"/>
                            </li>
<!--                            <li>
                                <label>全局迭代次序：</label>
                                <input type="text" name="trainEpoch"/>
                            </li>-->
<!--                            <li>
                                <label>模型评价：</label>
                                <input type="text" name="modelEvaluate"/>
                            </li>
                            <li>
                                <label>参与本轮训练的用户：</label>
                                <input type="text" name="clientStart"/>
                            </li>
                            <li>
                                <label>成功结束本轮的用户：</label>
                                <input type="text" name="clientSuccess"/>
                            </li>-->
                            <li>
                                <label>本轮状态：</label>
                                <input type="text" name="flag"/>
                            </li>
<!--                            <li>-->
<!--                                <label>时间：</label>-->
<!--                                <input type="text" class="time-input" placeholder="开始时间" name="startTime"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>-</label>-->
<!--                                <input type="text" class="time-input" placeholder="结束时间" name="endTime"/>-->
<!--                            </li>-->

                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
<!--                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="fed:task_log:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="fed:task_log:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="fed:task_log:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="fed:task_log:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fed:task_log:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fed:task_log:remove')}]];
        var prefix = ctx + "fed/task_log";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "联邦任务日志",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'tlId',
                    title: '任务日志id',
                    visible: false
                },
                {
                    field: 'tpId',
                    title: '任务id'
                },
                {
                    field: 'trainEpoch',
                    title: '全局迭代次序'
                },
                {
                    field: 'modelEvaluate',
                    title: '模型评价'
                },
                {
                    field: 'clientStart',
                    title: '参与本轮训练的用户'
                },
                {
                    field: 'clientSuccess',
                    title: '成功结束本轮的用户'
                },
                {
                    field: 'flag',
                    title: '本轮状态'
                },
                {
                    field: 'startTime',
                    title: '开始时间'
                },
                {
                    field: 'endTime',
                    title: '结束时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.tlId + '\')"><i class="fa fa-edit"></i>详细信息</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.tlId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>