<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('参与者设备列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
<!--                            <li>
                                <label>用户：</label>
                                <input type="text" name="clientId"/>
                            </li>
                            <li>
                                <label>设备：</label>
                                <select name="deviceType">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>-->
                            <li>
                                <label>处理器型号：</label>
                                <input type="text" name="proc"/>
                            </li>
                            <li>
                                <label>电池容量/mAh：</label>
                                <input type="text" name="batteryCapacity"/>
                            </li>
                            <li>
                                <label>内存容量/GB：</label>
                                <input type="text" name="ramCapacity"/>
                            </li>
                            <li>
                                <label>Android版本：</label>
                                <input type="text" name="androidVersion"/>
                            </li>
                            <li>
                                <label>操作系统版本：</label>
                                <input type="text" name="os"/>
                            </li>
                            <li>
                                <label>机身存储容量/GB：</label>
                                <input type="text" name="storage"/>
                            </li>
                            <li>
                                <label>是否连接电源：</label>
                                <input type="text" name="powered"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="fed:device:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="fed:device:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="fed:device:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="fed:device:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('fed:device:edit')}]];
        var removeFlag = [[${@permission.hasPermi('fed:device:remove')}]];
        var prefix = ctx + "fed/device";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "参与者设备",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'deviceId',
                    title: '设备标识',
                    visible: false
                },
                {
                    field: 'clientId',
                    title: '用户'
                },
                {
                    field: 'deviceType',
                    title: '设备型号'
                },
                {
                    field: 'proc',
                    title: '处理器型号'
                },
                {
                    field: 'batteryCapacity',
                    title: '电池容量/mAh'
                },
                {
                    field: 'ramCapacity',
                    title: '内存容量/GB'
                },
                {
                    field: 'androidVersion',
                    title: 'Android版本'
                },
                {
                    field: 'os',
                    title: '操作系统版本'
                },
                {
                    field: 'storage',
                    title: '机身存储容量/GB'
                },
                {
                    field: 'powered',
                    title: '是否连接电源'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.deviceId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.deviceId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>