<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
<!--                        <span class="label label-success pull-right">月</span>-->
                        <h5>任务总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">2</h1>
<!--                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>-->
<!--                        </div>-->
<!--                        <small>总收入</small>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
<!--                        <span class="label label-info pull-right">联邦参与者人数</span>-->
                        <h5>联邦参与者人数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">3</h1>
<!--                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i>-->
<!--                        </div>-->
<!--                        <small>新订单</small>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
<!--                        <span class="label label-primary pull-right">联邦任务发布者人数</span>-->
                        <h5>联邦任务发布者人数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">2</h1>
<!--                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>-->
<!--                        </div>-->
<!--                        <small>新访客</small>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
<!--                        <span class="label label-danger pull-right">联邦任务配置数</span>-->
                        <h5>联邦任务配置数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">1</h1>
<!--                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>-->
<!--                        </div>-->
<!--                        <small>12月</small>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-4">

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>联系信息</h5>

                        </div>
                        <div class="ibox-content">
                            <p><i class="fa fa-send-o"></i> 开发者网站：<a href="http://www.ruoyi.vip" target="_blank">http://www.zhanghad.top</a>
                            </p>
                            <p><i class="fa fa-qq"></i> QQ： <a href="https://jq.qq.com/?_wv=1027&k=qPIKBb7s" target="_blank">1310200276</a>
                            </p>
                            <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">z15389037202</a>
                            </p>
<!--                            <p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">/ *若依</a>-->
<!--                            </p>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>更新日志</h5>
                        </div>
                        <div class="ibox-content no-padding">
                            <div class="panel-body">
                                <div class="panel-group" id="version">

<!--                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#version" href="#v431">v4.3.1</a><code class="pull-right">2020.07.05</code>
                                            </h5>
                                        </div>
                                        <div id="v431" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>国家信息安全漏洞（请务必保持cipherKey密钥唯一性）</li>
                                                    <li>升级shiro到最新版1.5.3 阻止权限绕过漏洞</li>
                                                    <li>修改验证码在使用后清除，防止多次使用</li>
                                                    <li>检查字符支持小数点&降级改成异常提醒</li>
                                                    <li>openOptions函数中加入自定义maxmin属性</li>
                                                    <li>支持openOptions方法最大化</li>
                                                    <li>支持openOptions方法多个按钮回调</li>
                                                    <li>新增isLinkage支持页签与菜单联动</li>
                                                    <li>修改代码生成导入表结构出现异常页面不提醒问题</li>
                                                    <li>优化用户头像发生错误，则显示一个默认头像</li>
                                                    <li>Excel导出支持字典类型</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>-->

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#version" href="#v00">v1.0.0</a><code class="pull-right">2021.02.16</code>
                                            </h4>
                                        </div>
                                        <div id="v00" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>联邦学习系统开发中...</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>捐赠</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="alert alert-warning">
                                请作者喝杯咖啡（点击图片放大）
                            </div>
                            <p id="pay-qrcode">
                                <a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">
                                </a>
                            </p>

                        </div>
                    </div>
                </div>-->
            </div>
        </div>


        <div class="row  border-bottom white-bg dashboard-header">

<!--            <div class="col-sm-3">
                <h2>Hello,Guest</h2>
                <small>移动设备访问请扫描以下二维码：</small>
                <br>
                <br>
                <img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">
                <br>
            </div>-->
            <div class="col-sm-5">
                <h2>联邦学习系统</h2>
                <p>面向Android设备的联邦学习系统</p>
                <p>
                    <b>当前版本：</b><span>v[[${version}]]</span>
                </p>
                <p>
                    <span class="label label-warning">&yen;免费开源</span>
                </p>
                <br>
                <p>
                    <a class="btn btn-success btn-outline" href="https://github.com/zhanghad/Federated_Learning" target="_blank">
                        <i class="fa fa-cloud"> </i> 项目仓库
                    </a>
                    <a class="btn btn-white btn-bitbucket" href="http://www.zhanghad.top" target="_blank">
                        <i class="fa fa-home"></i> Android端下载
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <h4>联邦学习技术</h4>
                <ol>
                    <li>联邦类型：横向联邦</li>
                    <li>机器学习算法框架：DL4J</li>
                    <li>通信架构：C/S架构（有中心聚合服务器）</li>
                    <li>隐私保护：同态加密+差分隐私</li>

                </ol>

                <h4>后台管理系统技术选型：</h4>
                <ol>

                    <li>核心框架：Spring Boot。</li>
                    <li>安全框架：Apache Shiro。</li>
                    <li>模板引擎：Thymeleaf。</li>
                    <li>持久层框架：MyBatis。</li>
                    <li>数据库连接池：Druid。</li>
                    <li>工具类：Fastjson。</li>
                </ol>
            </div>

        </div>
        
<!--        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>订单</h5>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs btn-white active">天</button>
                                <button type="button" class="btn btn-xs btn-white">月</button>
                                <button type="button" class="btn btn-xs btn-white">年</button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <ul class="stat-list">
                                    <li>
                                        <h2 class="no-margins">2,346</h2>
                                        <small>订单总数</small>
                                        <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i>
                                        </div>
                                        <div class="progress progress-mini">
                                            <div style="width: 48%;" class="progress-bar"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <h2 class="no-margins ">4,422</h2>
                                        <small>最近一个月订单</small>
                                        <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i>
                                        </div>
                                        <div class="progress progress-mini">
                                            <div style="width: 60%;" class="progress-bar"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <h2 class="no-margins ">9,180</h2>
                                        <small>最近一个月销售额</small>
                                        <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i>
                                        </div>
                                        <div class="progress progress-mini">
                                            <div style="width: 22%;" class="progress-bar"></div>
                                        </div>
                                    </li>
                                 </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        
<!--        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联邦学习任务</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>状态</th>
                                    <th>开始时间</th>
                                    <th>发布者</th>
                                    <th>进度</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small>进行中...</small>
                                    </td>
                                    <td><i class="fa fa-clock-o"></i> 2020/10/16 11:20</td>
                                    <td>publisher1</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 24%</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-warning">已取消</span>
                                    </td>
                                    <td><i class="fa fa-clock-o"></i> 2020/10/16 10:40</td>
                                    <td>publisher2</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 66%</td>
                                </tr>
                                <tr>
                                    <td><small>进行中...</small>
                                    </td>
                                    <td><i class="fa fa-clock-o"></i> 2020/10/16 01:30</td>
                                    <td>publisher3</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 54%</td>
                                </tr>
                                <tr>
                                    <td><small>进行中...</small>
                                    </td>
                                    <td><i class="fa fa-clock-o"></i> 2020/10/16 02:20</td>
                                    <td>publisher4</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 12%</td>
                                </tr>
                                <tr>
                                    <td><small>进行中...</small>
                                    </td>
                                    <td><i class="fa fa-clock-o"></i> 2020/10/16 09:40</td>
                                    <td>publisher5</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 22%</td>
                                </tr>
                                <tr>
                                    <td><span class="label label-primary">已完成</span>
                                    </td>
                                    <td><i class="fa fa-clock-o"></i> 2020/10/16 04:10</td>
                                    <td>publisher6</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 100%</td>
                                </tr>
                                <tr>
                                    <td><small>进行中...</small>
                                    </td>
                                    <td><i class="fa fa-clock-o"></i> 2020/10/16 12:08</td>
                                    <td>publisher7</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 23%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>-->
      </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
    
    <th:block th:include="include :: sparkline-js" />
    <script type="text/javascript">
	    $(document).ready(function () {
	        var data2 = [
	            [gd(2012, 1, 1), 7], [gd(2012, 1, 2), 6], [gd(2012, 1, 3), 4], [gd(2012, 1, 4), 8],
	            [gd(2012, 1, 5), 9], [gd(2012, 1, 6), 7], [gd(2012, 1, 7), 5], [gd(2012, 1, 8), 4],
	            [gd(2012, 1, 9), 7], [gd(2012, 1, 10), 8], [gd(2012, 1, 11), 9], [gd(2012, 1, 12), 6],
	            [gd(2012, 1, 13), 4], [gd(2012, 1, 14), 5], [gd(2012, 1, 15), 11], [gd(2012, 1, 16), 8],
	            [gd(2012, 1, 17), 8], [gd(2012, 1, 18), 11], [gd(2012, 1, 19), 11], [gd(2012, 1, 20), 6],
	            [gd(2012, 1, 21), 6], [gd(2012, 1, 22), 8], [gd(2012, 1, 23), 11], [gd(2012, 1, 24), 13],
	            [gd(2012, 1, 25), 7], [gd(2012, 1, 26), 9], [gd(2012, 1, 27), 9], [gd(2012, 1, 28), 8],
	            [gd(2012, 1, 29), 5], [gd(2012, 1, 30), 8], [gd(2012, 1, 31), 25]
	        ];
	
	        var data3 = [
	            [gd(2012, 1, 1), 800], [gd(2012, 1, 2), 500], [gd(2012, 1, 3), 600], [gd(2012, 1, 4), 700],
	            [gd(2012, 1, 5), 500], [gd(2012, 1, 6), 456], [gd(2012, 1, 7), 800], [gd(2012, 1, 8), 589],
	            [gd(2012, 1, 9), 467], [gd(2012, 1, 10), 876], [gd(2012, 1, 11), 689], [gd(2012, 1, 12), 700],
	            [gd(2012, 1, 13), 500], [gd(2012, 1, 14), 600], [gd(2012, 1, 15), 700], [gd(2012, 1, 16), 786],
	            [gd(2012, 1, 17), 345], [gd(2012, 1, 18), 888], [gd(2012, 1, 19), 888], [gd(2012, 1, 20), 888],
	            [gd(2012, 1, 21), 987], [gd(2012, 1, 22), 444], [gd(2012, 1, 23), 999], [gd(2012, 1, 24), 567],
	            [gd(2012, 1, 25), 786], [gd(2012, 1, 26), 666], [gd(2012, 1, 27), 888], [gd(2012, 1, 28), 900],
	            [gd(2012, 1, 29), 178], [gd(2012, 1, 30), 555], [gd(2012, 1, 31), 993]
	        ];
	
	
	        var dataset = [
	            {
	                label: "订单数",
	                data: data3,
	                color: "#1ab394",
	                bars: {
	                    show: true,
	                    align: "center",
	                    barWidth: 24 * 60 * 60 * 600,
	                    lineWidth: 0
	                }
	
	            }, {
	                label: "付款数",
	                data: data2,
	                yaxis: 2,
	                color: "#464f88",
	                lines: {
	                    lineWidth: 1,
	                    show: true,
	                    fill: true,
	                    fillColor: {
	                        colors: [{
	                            opacity: 0.2
	                        }, {
	                            opacity: 0.2
	                        }]
	                    }
	                },
	                splines: {
	                    show: false,
	                    tension: 0.6,
	                    lineWidth: 1,
	                    fill: 0.1
	                },
	            }
	        ];
	
	
	        var options = {
	            xaxis: {
	                mode: "time",
	                tickSize: [3, "day"],
	                tickLength: 0,
	                axisLabel: "Date",
	                axisLabelUseCanvas: true,
	                axisLabelFontSizePixels: 12,
	                axisLabelFontFamily: 'Arial',
	                axisLabelPadding: 10,
	                color: "#838383"
	            },
	            yaxes: [{
	                    position: "left",
	                    max: 1070,
	                    color: "#838383",
	                    axisLabelUseCanvas: true,
	                    axisLabelFontSizePixels: 12,
	                    axisLabelFontFamily: 'Arial',
	                    axisLabelPadding: 3
	            }, {
	                    position: "right",
	                    clolor: "#838383",
	                    axisLabelUseCanvas: true,
	                    axisLabelFontSizePixels: 12,
	                    axisLabelFontFamily: ' Arial',
	                    axisLabelPadding: 67
	            }
	            ],
	            legend: {
	                noColumns: 1,
	                labelBoxBorderColor: "#000000",
	                position: "nw"
	            },
	            grid: {
	                hoverable: false,
	                borderWidth: 0,
	                color: '#838383'
	            }
	        };
	
	        function gd(year, month, day) {
	            return new Date(year, month - 1, day).getTime();
	        }
	
	        var previousPoint = null,
	            previousLabel = null;
	
	        $.plot($("#flot-dashboard-chart"), dataset, options);
	    });
    </script>
</body>
</html>
