<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fedserver.fedtask.mapper.TaskConfigMapper">
    
    <resultMap type="TaskConfig" id="TaskConfigResult">
        <result property="tcId"    column="tc_id"    />
        <result property="tcName"    column="tc_name"    />
        <result property="tcDescription"    column="tc_description"    />
        <result property="dataFormat"    column="data_format"    />
        <result property="deviceRequire"    column="device_require"    />
        <result property="modelPath"    column="model_path"    />
        <result property="testData"    column="test_data"    />
        <result property="minClient"    column="min_client"    />
        <result property="maxClient"    column="max_client"    />
        <result property="localIterations"    column="local_iterations"    />
        <result property="globalEpoch"    column="global_epoch"    />
        <result property="targetAccuracy"    column="target_accuracy"    />
        <result property="finishFlag"    column="finish_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTaskConfigVo">
        select tc_id, tc_name, tc_description, data_format, device_require, model_path, test_data, min_client, max_client, local_iterations, global_epoch, target_accuracy, finish_flag, del_flag, status, create_by, create_time, update_by, update_time, remark from task_config
    </sql>

    <select id="selectTaskConfigList" parameterType="TaskConfig" resultMap="TaskConfigResult">
        <include refid="selectTaskConfigVo"/>
        <where>  
            <if test="tcName != null  and tcName != ''"> and tc_name like concat('%', #{tcName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTaskConfigById" parameterType="Long" resultMap="TaskConfigResult">
        <include refid="selectTaskConfigVo"/>
        where tc_id = #{tcId}
    </select>
        
    <insert id="insertTaskConfig" parameterType="TaskConfig" useGeneratedKeys="true" keyProperty="tcId">
        insert into task_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tcName != null and tcName != ''">tc_name,</if>
            <if test="tcDescription != null and tcDescription != ''">tc_description,</if>
            <if test="dataFormat != null and dataFormat != ''">data_format,</if>
            <if test="deviceRequire != null">device_require,</if>
            <if test="modelPath != null and modelPath != ''">model_path,</if>
            <if test="testData != null">test_data,</if>
            <if test="minClient != null">min_client,</if>
            <if test="maxClient != null">max_client,</if>
            <if test="localIterations != null">local_iterations,</if>
            <if test="globalEpoch != null">global_epoch,</if>
            <if test="targetAccuracy != null">target_accuracy,</if>
            <if test="finishFlag != null and finishFlag != ''">finish_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tcName != null and tcName != ''">#{tcName},</if>
            <if test="tcDescription != null and tcDescription != ''">#{tcDescription},</if>
            <if test="dataFormat != null and dataFormat != ''">#{dataFormat},</if>
            <if test="deviceRequire != null">#{deviceRequire},</if>
            <if test="modelPath != null and modelPath != ''">#{modelPath},</if>
            <if test="testData != null">#{testData},</if>
            <if test="minClient != null">#{minClient},</if>
            <if test="maxClient != null">#{maxClient},</if>
            <if test="localIterations != null">#{localIterations},</if>
            <if test="globalEpoch != null">#{globalEpoch},</if>
            <if test="targetAccuracy != null">#{targetAccuracy},</if>
            <if test="finishFlag != null and finishFlag != ''">#{finishFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTaskConfig" parameterType="TaskConfig">
        update task_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="tcName != null and tcName != ''">tc_name = #{tcName},</if>
            <if test="tcDescription != null and tcDescription != ''">tc_description = #{tcDescription},</if>
            <if test="dataFormat != null and dataFormat != ''">data_format = #{dataFormat},</if>
            <if test="deviceRequire != null">device_require = #{deviceRequire},</if>
            <if test="modelPath != null and modelPath != ''">model_path = #{modelPath},</if>
            <if test="testData != null">test_data = #{testData},</if>
            <if test="minClient != null">min_client = #{minClient},</if>
            <if test="maxClient != null">max_client = #{maxClient},</if>
            <if test="localIterations != null">local_iterations = #{localIterations},</if>
            <if test="globalEpoch != null">global_epoch = #{globalEpoch},</if>
            <if test="targetAccuracy != null">target_accuracy = #{targetAccuracy},</if>
            <if test="finishFlag != null and finishFlag != ''">finish_flag = #{finishFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where tc_id = #{tcId}
    </update>

    <delete id="deleteTaskConfigById" parameterType="Long">
        delete from task_config where tc_id = #{tcId}
    </delete>

    <delete id="deleteTaskConfigByIds" parameterType="String">
        delete from task_config where tc_id in 
        <foreach item="tcId" collection="array" open="(" separator="," close=")">
            #{tcId}
        </foreach>
    </delete>

</mapper>